.hide {
  display: none;
}

.dice {
  text-align: center;
}

body {
  background-color: #393E46;
}

button {
  display: block;
  margin: 3.5rem auto;
  padding: 0.8rem 1.5rem;
  background-color: #800000;
  border-radius: 5px;
  border-style: none;
}

button a {
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  color: #ffffff !important;
  text-align: center;
  text-decoration: none;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-align: center;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

h2 {
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;
  margin-top: 6rem;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 50%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

@media screen and (max-width: 992px)
{
  h1 {
    font-size: 4rem;
  }
}